.main-button{
    height: 5rem;
    width: 100%;
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(216, 12, 12);
}

.main-button:hover{
    transform: scale(1.02);
    transition: 100ms linear;
    cursor: pointer;
}