.main-header{
    font-family: 'Poppins', sans-serif;
    max-height: 8rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 6%;
}