html{
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    form.main-form{
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;
    }
    body.main-body{
        margin-top: 0;
        margin-bottom: 0;
    }
}